#blue-box {
	height: 150px;
	width: 150px;
	background-color: blue;
	animation-name: moveThisBox; /* this tells #blue-box which animation to use */
	animation-duration: 1s; /* the life of this animation will happen only 2 seconds */
	aniimation-timing-function: ease-in; 
	animation-iteration-count: 1; /* determines how many time the animation will run */
}



@keyframes moveThisBox {
	from {
		transform: translate(0);
	}
	to {
		transform: translate(400px); /* this moves the box 400px to the right */ 
	}
}
/* using @keyframes, you can do 'from' and 'to' or '0%' to '100%' */